@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model studentPrj.Models.Entities.Student;
<h1>Update Student</h1>

@if (Model is null)
    {
        <p>Student Not Found with that Id</p>
    }

else (Model is not null){ 
    
<form action="/" method="post">

    <div class="mt-3">
        <label class="from-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly/>
    </div>


    <div class="mt-3">
        <label class="from-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="from-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>

    <div class="mt-3">
        <label class="from-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="Phone" />
    </div>

    <div class="mt-3">
        <input type="checkbox" class="form-check-input" id="Subcribed" asp-for="Subscribe" />
        <label class="from-label" for="Subcribed">Subscribe</label>

    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>
    }